<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161774930666-b1h5ddjd868i9e7j70s3qknnb4vlhedd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161774930666-b1h5ddjd868i9e7j70s3qknnb4vlhedd</string>
	<key>API_KEY</key>
	<string>AIzaSyCthf4ym9thquyB8JgYrxS7qk_7hGqF4AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>161774930666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elib</string>
	<key>PROJECT_ID</key>
	<string>elibrary-8b25d</string>
	<key>STORAGE_BUCKET</key>
	<string>elibrary-8b25d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161774930666:ios:986d9def2cb0958e5ba593</string>
</dict>
</plist>